<strong>Olá, {{ nameDeliveryman }}</strong>
<p>Houve um cadastro de encomenda para você, confira os detalhes abaixo:</p>

<p>
  <strong>Produto: </strong> {{ product }} <br />
</p>
<p>
  <strong>Destinatário</strong> <br />
  <strong>Nome: </strong> {{ nameRecipient }} <br />
  <strong>Rua: </strong> {{ streetRecipient }} <br />
  <strong>Número: </strong> {{ numberRecipient }} <br />
  <strong>Complemento: </strong> {{ complementRecipient }} <br />
  <strong>Estado: </strong> {{ stateRecipient }} <br />
  <strong>Cidade: </strong> {{ cityRecipient }} <br />
  <strong>CEP: </strong> {{ zip_codeRecipient }} <br />
</p>
<p>
  <strong>O produto já está pronto para retirada.</strong>
</p>
